/* Mobile first, iPhone 6/7/8*/

body {
	display: grid;
	height: 100%;
	text-align: center;
	justify-content: center;
}

#time {
	color: white;
	font-family: Verdana;
	font-size: 50px;
	margin-top: 20%;
}

#date {
	color: white;
	font-family: Verdana;
	font-size: 30px;
}

.astronaut {
	position: absolute;
	top: -15%;
	left: 0px;
	animation-name: fly;
	animation-duration: 5s;
	margin-top: 110%;
}

.footer img {
	width: 20%;
	height: 20%;
}

@keyframes fly{
		from {transform: translateX(0);}
		to{transform: translateX(300px);}
	}

/*iPad*/
@media only screen and (min-width: 768px){
	#time {
		font-size: 50px;
		margin-top: 10%;
	}

	#date {
		font-size: 20px;
	}

	.astronaut {
		margin-top: 45%;
	}

	.footer img {
		width: 10%;
		height: 20%;
	}

	@keyframes fly {
		from {transform: translateX(0);}
		to {transform: translateX(680px);}
	}
}

/*Laptop with touch*/
@media only screen and (min-width: 1280px){
	#time {
		margin-top: 30%;
	}

	.astronaut {
		top:-95%;
	}

	@keyframes fly {
		from {transform: translateX(0);}
		to {transform: translateX(1030px);}
	}
}

/*Groot scherm*/
@media only screen and (min-width: 1920px){
	#time {
		margin-top: 40%;
	}

	.astronaut {
		top: -140%;
	}

	@keyframes fly {
		from {transform: translateX(0);}
		to {transform: translateX(1700px);}
	}

}



