/* Mobile first, iPhone 6/7/8*/
@media only screen and (min-width: 375px) {

body {
	display: grid;
	height: 100%;
	text-align: center;
	justify-content: center;
}

#time {
	color: white;
	font-family: Verdana;
	font-size: 60px;
	margin-top: 50%;
}

#date {
	color: white;
	font-family: Verdana;
	font-size: 40px;
}

.astronaut {
	position: absolute;
	top:-40px;
	left: 0px;
	animation-name: fly;
	animation-duration: 15s;
	margin-top: 110%;
}

@keyframes fly{
		from {transform: translateX(0);}
		to{transform: translateX(140px);}
	}
}

/*iPad*/
@media only screen and (min-width: 768px){
	#time {
		font-size: 100px;
	}

	#date {
		font-size: 60px;
	}

	.astronaut {
		top: -25%;
	}

	@keyframes fly {
		from {transform: translateX(0);}
		to {transform: translateX(510px);}
	}
}

/*Laptop with touch*/
@media only screen and (min-width: 1280px){

}




