/* Mobile first, iPhone 6/7/8*/
@media only screen and (min-width: 375px) {

body {
	display: grid;
	height: 100%;
	text-align: center;
	justify-content: center;
}

#time {
	color: white;
	font-family: Verdana;
	font-size: 150px;
	margin-top: 50%;
}

#date {
	color: white;
	font-family: Verdana;
	font-size: 90px;
}

.astronaut {
	position: absolute;
	top:-40px;
	left: 0px;
	animation-name: fly;
	animation-duration: 30s;
	margin-top: 100%;
}

@keyframes fly{
		from {transform: translateX(0);}
		to{transform: translateX(667px);}
	}
}

@media only screen and (min-width: 768px){
	#time {
		font-size: 110px;
	}

	#date {
		font-size: 50px;
		
	}
	}

}


